
/* USO DE GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* Aquí empieza navbar */
.navbar {
	min-height: 75px;
}
.navbar-default{
	background-color: #ffffff;
	border-color: #ffffff;
}
.navbar-right{
	float:right!important;
	margin-right: -15px;
	margin-top: 15px;
}

/* CAROUSEL */

.carousel-caption .jumbotron  {
	text-align: center;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
}

#slider1 { background-image: url('../img/slider1.jpg'); }
#slider2 { background-image: url('../img/slider2.jpg'); }

.slider-bg {
	min-height: 600px !important;
  width: 100%;
  background-size: contain !important;
  background-size: cover!important;
/*  background-attachment: fixed !important;*/
  background-position: bottom center;
}

/*ESCENCIAS*/

.escencia {
	background-color: #ffffff;
	padding-top: 80px;
}
.escencia .header{
	margin-bottom: 70px;
	text-align: center;
}
#escencia .header h3{
	color: #a3a3a3;
	text-align:center;
	margin-top:100px;
	margin-bottom:70px;
	font-family: 'Montserrat', sans-serif;
}
.thumbnail:hover{
	height: 290px;
	width: 250px;
	background-color: rgba(35, 161, 161, 0.9);
}
.thumbnail .caption:hover p {
	color: #ffffff;
}
.thumbnail{
	height: 290px;
	border: 0;
}
.thumbnail .circle{
	border-radius: 50%;
	background-color: #f7f7f7;
	width: 155px;
	height: 155px;
	margin-top: 20px;
	margin-left:40px;
}
.caption p {
	font-size: 16px;
	margin-top: 15px;
	text-align: center;
	color: #ffffff;
}
.thumbnail .circle img{
	right:50%;
	margin-top: 13px;
	margin-left: 20px;
	padding-left: 3px;
}

/* CONTACTO*/
#contacto {
	background-color: #EDEDED;
}

#contacto form {
	margin: 3em auto;
}

#contacto .header h3{
	margin-top: 2em;
	color: #a3a3a3;
	text-align:center;
	margin-bottom:30px;
	font-family: 'Montserrat', sans-serif;
}
/* FOOTER */

.footer .container-fluid {
	background-color: #333;
	height: 102px;

}
.footer img{
	margin-top: 10px;
}
.texto-footer{
	color: #a3a3a3;
	float: right;
	margin-top: 30px;
}


.footer {
	width: 100%;
	padding: 1.5em 1em 1.5em 1em;
	background-color: #333;
}